<section id="navigation">
<ul>
    <li class="selected-li"><a href="{{site.url}}">صفحه اول</a></li>
    <li><a href="{{site.baseurl}}/blog">بلاگ</a></li>
    <li><a href="{{site.url}}/aboutme">درباره من</a></li>
</ul>
</section>
<section class="icon-nav">
<ul>
    
    <li>
    <label class="switch">
    <input type="checkbox" class="checkbox">
    <div class="slide"></div>
    </label>
    </li>
    <li class="telegram"><a target="_blank" href="https://telegram.me/{{site.scusername}}"><span class="icon-telegram"></span></a></li>
    <li class="instagram" ><a target="_blank" href="https://instagram.com/{{site.scusername}}"><span class="icon-instagram"></span></a></li>
    <li class="github"><a target="_blank" href="https://github.com/{{site.scusername}}"><span class="icon-git"></span></a></li>
    <li class="twiiter"><a target="_blank" href="https://twitter.com/{{site.scusername}}"><span class="icon-Twitter"></span></a></li>
    <!-- <li class="twiiter"><a target="_blank" href="https://twitter.com/{{site.scusername}}"><span>RSS</span></a></li> -->