/* syntax.scss */
$text-color:       #363636;
$blue:             #3050f0;
$blue-dark:        #3530A5;
$green:            #189560;
$orange:           #e46609;
$red:              #ff2211;
$red-dark:         #a12424;
$grey:             #828282;
$grey-light:       lighten($grey, 40%);
$grey-dark:        darken($grey, 20%);

$night-text-color:       #fff;
$night-blue:             #29B6F6;
$night-blue-dark:        #80CBC4;
$night-green:            #E6EE9C;
$night-orange:           #FFB74D;
$night-red:              #EC407A;
$night-red-dark:         #C2185B;
$night-grey:             #828282;
$night-grey-light:       lighten($grey, 40%);
$night-grey-dark:        darken($grey, 20%);
.highlight {


    font-family: sans-serif;
    font-weight: 100;
    direction: ltr;
    overflow: scroll;
    color: $text-color; 
    direction: ltr !important;
    /** background: rgba(228, 228, 228, 0.58); **/
    background: #EEEEEE;
    padding: .618rem;
    border-radius: .2rem;
    pre{
        font-family: sans-serif;
        font-weight: 100;
        direction: ltr;
    }

    .c     { color: $grey; font-style: italic } // Comment
    .err   { color: $red; } // Error
    .k     { color: $red-dark; } // Keyword
    .o     { color: $blue; } // Operator
    .p     {  }
    .cm    { color: $grey; font-style: italic } // Comment.Multiline
    .cp    { color: $grey; font-weight: bold } // Comment.Preproc
    .c1    { color: $grey; font-style: italic } // Comment.Single
    .cs    { color: $grey; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { background-color: $grey-light } // Generic.Deleted
    .gd .x { background-color: $grey-light } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: $red } // Generic.Error
    .gh    {  } // Generic.Heading
    .gi    { background-color: $grey-light } // Generic.Inserted
    .gi .x { background-color: $grey-light } // Generic.Inserted.Specific
    .go    {  } // Generic.Output
    .gp    {  } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: $grey } // Generic.Subheading
    .gt    { color: $red } // Generic.Traceback
    .kc    { color: $red-dark; } // Keyword.Constant
    .kd    { color: $red-dark; } // Keyword.Declaration
    .kp    { color: $red-dark; } // Keyword.Pseudo
    .kr    { color: $red-dark; } // Keyword.Reserved
    .kt    { color: $red-dark; } // Keyword.Type
    .m     { color: $orange } // Literal.Number
    .s     { color: $green } // Literal.String
    .n     { color: $blue-dark; } 
    .na    {  } // Name.Attribute
    .nb    { color: $blue-dark; } // Name.Builtin
    .nc    { color: $blue-dark; } // Name.Class
    .nd    { color: $blue-dark; }
    .no    { color: $blue-dark; } // Name.Constant
    .ni    { color: $blue-dark; } // Name.Entity
    .ne    { color: $blue-dark; } // Name.Exception
    .nf    { color: $blue-dark; } // Name.Function
    .nn    { color: $blue-dark; } // Name.Namespace
    .nt    { color: $blue-dark; } // Name.Tag
    .nv    { color: $blue-dark; } // Name.Variable
    .ow    {  } // Operator.Word
    .w     { color: $grey } // Text.Whitespace
    .mf    { color: $orange } // Literal.Number.Float
    .mh    { color: $orange } // Literal.Number.Hex
    .mi    { color: $orange } // Literal.Number.Integer
    .mo    { color: $orange } // Literal.Number.Oct
    .sb    { color: $green } // Literal.String.Backtick
    .sc    { color: $green } // Literal.String.Char
    .sd    { color: $green } // Literal.String.Doc
    .s2    { color: $green } // Literal.String.Double
    .se    { color: $green } // Literal.String.Escape
    .sh    { color: $green } // Literal.String.Heredoc
    .si    { color: $green } // Literal.String.Interpol
    .sx    { color: $green } // Literal.String.Other
    .sr    { color: $green } // Literal.String.Regex
    .s1    { color: $green } // Literal.String.Single
    .ss    { color: $green } // Literal.String.Symbol
    .bp    { color: $blue-dark } // Name.Builtin.Pseudo
    .vc    { color: $blue-dark } // Name.Variable.Class
    .vg    { color: $blue-dark } // Name.Variable.Global
    .vi    { color: $blue-dark } // Name.Variable.Instance
    .il    { color: $blue } // Literal.Number.Integer.Long

    .lineno { display:none; color: #bbb; margin-right: 0.5rem;}
}
.night .highlight{

    background: transparent;
    border:1px solid #21303f;
    color:$night-text-color;

    .c     { color: $night-grey; font-style: italic } // Comment
    .err   { color: $night-red; } // Error
    .k     { color: $night-red-dark; } // Keyword
    .o     { color: $night-blue } // Operator
    .p     {  }
    .cm    { color: $night-grey; font-style: italic } // Comment.Multiline
    .cp    { color: $night-grey; font-weight: bold } // Comment.Preproc
    .c1    { color: $night-grey; font-style: italic } // Comment.Single
    .cs    { color: $night-grey; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { background-color: $night-grey-light } // Generic.Deleted
    .gd .x { background-color: $night-grey-light } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: $night-red } // Generic.Error
    .gh    {  } // Generic.Heading
    .gi    { background-color: $night-grey-light } // Generic.Inserted
    .gi .x { background-color: $night-grey-light } // Generic.Inserted.Specific
    .go    {  } // Generic.Output
    .gp    {  } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: $night-grey } // Generic.Subheading
    .gt    { color: $night-red } // Generic.Traceback
    .kc    { color: $night-red-dark; } // Keyword.Constant
    .kd    { color: $night-red-dark; } // Keyword.Declaration
    .kp    { color: $night-red-dark; } // Keyword.Pseudo
    .kr    { color: $night-red-dark; } // Keyword.Reserved
    .kt    { color: $night-red-dark; } // Keyword.Type
    .m     { color: $night-orange } // Literal.Number
    .s     { color: $night-green } // Literal.String
    .n     { color: $night-blue-dark; } 
    .na    {  } // Name.Attribute
    .nb    { color: $night-blue-dark; } // Name.Builtin
    .nc    { color: $night-blue-dark; } // Name.Class
    .nd    { color: $night-blue-dark; }
    .no    { color: $night-blue-dark; } // Name.Constant
    .ni    { color: $night-blue-dark; } // Name.Entity
    .ne    { color: $night-blue-dark; } // Name.Exception
    .nf    { color: $night-blue-dark; } // Name.Function
    .nn    { color: $night-blue-dark; } // Name.Namespace
    .nt    { color: $night-blue-dark; } // Name.Tag
    .nv    { color: $night-blue-dark; } // Name.Variable
    .ow    {  } // Operator.Word
    .w     { color: $night-orange } // Text.Whitespace
    .mf    { color: $night-orange } // Literal.Number.Float
    .mh    { color: $night-orange } // Literal.Number.Hex
    .mi    { color: $night-orange } // Literal.Number.Integer
    .mo    { color: $night-orange } // Literal.Number.Oct
    .sb    { color: $night-green } // Literal.String.Backtick
    .sc    { color: $night-green } // Literal.String.Char
    .sd    { color: $night-green } // Literal.String.Doc
    .s2    { color: $night-green } // Literal.String.Double
    .se    { color: $night-green } // Literal.String.Escape
    .sh    { color: $night-green } // Literal.String.Heredoc
    .si    { color: $night-green } // Literal.String.Interpol
    .sx    { color: $night-green } // Literal.String.Other
    .sr    { color: $night-green } // Literal.String.Regex
    .s1    { color: $night-green } // Literal.String.Single
    .ss    { color: $night-green } // Literal.String.Symbol
    .bp    { color: $night-blue-dark } // Name.Builtin.Pseudo
    .vc    { color: $night-blue-dark } // Name.Variable.Class
    .vg    { color: $night-blue-dark } // Name.Variable.Global
    .vi    { color: $night-blue-dark } // Name.Variable.Instance
    .il    { color:  $night-blue } // Literal.Number.Integer.Long
}




