<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body>
  <header class="main-width nav-margin">
      {% include nav.html %}
    <li class="pg-title"><span>درباره من</span></li>
    </ul>
</section>
  </header>
<section id="aboutme" class="main-width">
    <div class="headerAboutme">
        <div class="imgAboutme"></div>
        <h3>سلام من <span>رضا خسروشاهی </span></h3>
        <p>طراح رابط‌کاربری </p>
        <p>و توسعه‌دهنده فرانت هستم.</p>
    </div><!-- headerAboutme -->
    <div class="contentAboutme">
        {{ content }}
    </div>
</section>

{%include footer.html %}
